<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cliente</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{account?.accountSumaryDto?.firstName}}</ion-card-title>
      <ion-card-subtitle>{{account?.accountSumaryDto?.lastName1}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label>{{account?.accountSumaryDto?.emailaddress}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>
