<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <div input-field>
      <ion-item no-padding>
        <ion-input name="username" formControlName="username" type="email" placeholder="your@email.com"></ion-input>
        <ion-label no-margin *ngIf="formLogin.controls.username?.errors?.email">
          Your E-Mail is invalid!
        </ion-label>
      </ion-item>
      <ion-item no-padding>
        <ion-input name="password" formControlName="password" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-input name="channelId" formControlName="channelId" type="text" placeholder="Channel"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-input name="language" formControlName="language" type="text" placeholder="Language"></ion-input>
      </ion-item>
    </div>
    <div padding>
      <ion-button size="large" type="submit" [disabled]='!formLogin.valid'  expand="block">Login</ion-button>
    </div>
  </form>
</ion-content>